
<head>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <div class="contenedor-navegacion">
      <div class="logo">
          <a href="./index.php">
        <img src="../../assets/img/LogoTerciario.svg" alt="Logo Interoriente">
        </a>
      </div>
      <div class="busquedas">
        <input type="text" placeholder="¿Qué estás buscando?">
        <img id="buscar" src="../img/iconos/search.svg" alt="Buscar">
      </div>
      <div class="carrito">
        <img id="btn-carrito" src="../img/iconos/carrito.svg" alt="Carrito">
        <p class="items-carrito">3</p>
      </div>
    </div>

</body>
</html>