.link-mensaje{
    font-size: 30px;
    }
    .campo-alerta{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 760px;
    }
    .alerta{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    color: black;
    font-size: 40px;
    width: 80%;
    height: 80%;
    background: #D1CED9;
    }
    .fa-dizzy{
        font-size: 500%;
        color: #9B99A1;
    }
    .campo-boton{
        display: flex;
        flex-flow: row;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
    .btn-infoo {
    width: 200px;
    height: 50px;
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}