/* Propiedades Generales --> Paleta de Colores y fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;600&display=swap");
:root {
  --clr-primario-a: #004e64;
  --clr-primario-b: #5d9bac;
  --clr-secundario: #408e8d;
  --clr-neutro-a: #fefdeb;
  --clr-neutro-b: #001014;
  --clr-neutro-c: #e5e5e5;
  --clr-cta-a: #ffb930;
  --crl-cta-b: #fce61e;
  --titulos: "Poppins", sans-serif;
  --textos: "Open Sans", sans-serif;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  background-color: var(--clr-neutro-a);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.carrusel-superior {
  background-color: var(--clr-secundario);
  width: 100%;
  height: 2em;
}

.contenedor {
  width: 100%;
  height: 4em;
  position: fixed;
  font-weight: 900;
  color: white;
  justify-content: space-between;
  background-color: var(--clr-primario-a);
  left: 0;
  top: 0;
  z-index: 5;
}

.contenedor-s {
  width: 100%;
  height: 100%;
  margin: 1px;
  display: flex;
  justify-content: space-between;
}

.cont-elementos {
  font-family: "Poppins", sans-serif;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.cont-elementos a:hover {
  border-bottom: 2px white solid;
  padding-top: 4px;
  color: white;
}

.logoT {
  display: none;
}

/* Sección carrito y barra de búsqueda */

.carrito-busqueda {
  display: flex;
  align-items: center;
  align-content: space-around;
}

.carrito-busqueda:hover {
  cursor: pointer;
}

.carrito {
  margin-right: 2em;
  size: 1em;
  font-size: larger;
}

.items-carrito {
  position: absolute;
  top: 4px;
  right: 22px;
  background: orangered;
  padding: 0 4px;
  border-radius: 15%;
  color: white;
}

.barra-busqueda {
  margin-right: 2em;
  display: flex;
  align-items: center;
}

/* --------------- Carrito ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 3em;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: scroll;
  background: var(--clr-neutro-a);
  padding: 1.5rem;
  transition: all 0.04s ease-in-out;
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 2rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-top: -1.3em;
  margin-bottom: 1rem;
}
/*---------- Item del carrito -------------------- */

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 95px;
  height: 95px;
  border-radius: 4%;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.titulos {
  font-family: var(--titulos);
}

/* Título de la publicación en el carrito */
.item-h {
  font-weight: bold;
}
/* Cantidad item del carrito por publicación */
.cantidad-items {
  width: 3em;
}

/*---------- Fin item del carrito ------------------- */
.cart-footer {
  margin: 1rem 0 2em 0;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 5rem;
  padding-bottom: 5em;
}

.finalizar-compra {
  padding: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  background: var(--clr-cta-a);
  border: 1px solid var(--crl-cta-b);
  transition: 0.3s;
  cursor: pointer;
}

.finalizar-compra:hover {
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.4);
}
/* Imput cantidad */

/* --------------- Fin Carrito ---------------- */
/* Media query para mostrar logo */

@media (min-width: 1027px) {
  .logoT {
    display: block;
    display: flex;
    width: 40%;
    height: 100%;
  }

  .logoT img {
    text-align: left;
    width: 100%;
    height: 5em;
    min-height: 5em;
    margin-top: -0.5em;
  }

  .logoT:hover {
    cursor: pointer;
  }
}

/* Contenido */
.contenido {
  margin: 3em;
  margin-top: 7em;
}

/* Sidebar */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - Se hace el cambio con javascript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  margin-top: 4em;
  top: 0;
  left: 0;
  background-color: var(--crl-cta-b);
  overflow-x: hidden; /* se desabilita scroll en x */
  padding-top: 60px; /* Place content 60px from the top */ /* 0.5 second transition effect to slide in the sidenav */
}

.tr-side {
  transition: 0.3s;
}

/* Imagen e Info cta */
#cta-login-img {
  width: 12rem;
  margin-left: -1.5em;
  padding-bottom: 0.1em;
}

#cta-p {
  text-align: center;
}
#log-info-a {
  box-shadow: none;
}

/* Links de navegación */

.sidenav{
  display: flex;
  flex-direction: column;
}

.btnCerrar {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.sidenav a,
.btnCerrar {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  color: var(--clr-primario-a);
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.btnCerrar:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
/* Posición y estilos botón de cerrar (x) */

.sidenav .closebtn {
  position: absolute;
  top: 0em;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#btn-close {
  box-shadow: none;
  padding: 0.1px;
}

/* Media query para cambiar tamaño en pantallas pequeñas, donde la altura sea menor a 450px, cambio de estilo (menos padding y fuente más pequeña) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Botón Sidebar */
#boton a {
  margin-top: 2.5em;
  position: fixed; /* Position them relative to the browser window */
  left: -70px; /* Position them outside of the screen */
  transition: 0.03s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: var(--clr-primario-a); /* Color del texto */
  font-family: "Poppins", sans-serif;
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#boton a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  font-weight: bolder;
}

.rem-btn {
  display: none;
}

/* Botón menú lateral para abri sidebar*/
#menuLateral {
  top: 40px;
  background-color: var(--crl-cta-b); /* Color del botón */
  z-index: 2;
}

.contenedor .boton {
  display: none;
}

@media (min-width: 720px) {
  .contenedor .boton {
    display: block;
  }
}

/* Navegación para dispositivos móviles */
.navbar {
  background-color: var(--clr-primario-a);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.navbar a:hover {
  background-color: var(--clr-cta-a);
  color: var(--clr-neutro-c);
}

.navbar a.active {
  background-color: var(--clr-cta-a);
  color: white;
}
@media (min-width: 720px) {
  .contenedor-nav {
    display: none;
  }
}
/* Perfil */
.sidenav .perfil {
  display: flex;
  justify-content: left;
  background-color: #004e64;
  margin: -1.5em 2em 1em 2em;
  border-radius: 70%;
  padding: 3em;
}

/* Navbar Mediaqueries */
@media (min-width: 320px) {
  .contenedor-s {
    justify-content: space-between;
  }
  .cont-elementos {
    align-items: center;
    justify-content: space-around;
    width: 90%;
  }
}
@media (min-width: 1600px) {
  .cont-elementos {
    margin-right: 7em;
  }
}

/* Media query para la barra de búsqueda */

@media (max-width: 1180px) {
  .barra-busqueda {
    display: none;
  }
}
