<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/general.css">
  <link rel="stylesheet" href="../assets/css/publicacion.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>
    <?php echo $respPublicacion[0]['nombrePublicacion']; ?>
  </title>
</head>

<body>
  <!-- Sidebar y Navbar -->
  <div id="contenedor-principal" class="contenedor-principal">
    <div class="descripcion-m">
      <h2>Monitor Samsung Ips De 24 Full Hd Freesync Hdmi Lf24t400fh</h2>
      <hr>
      <h3>$1.400.200</h3>
    </div>
    <div class="column carrusel">
      <img id=img-principal src="../assets/img/stock/3.jpg">
      <div id="slide-wrapper">
        <img id="slideLeft" class="flecha" src="../assets/img/navegacion/flechaIz.png">
        <div id="slider">

          <img class="thumbnail" src="../assets/img/stock/4.jpg">
          <img class="thumbnail" src="../assets/img/stock/5.jpg">
          <img class="thumbnail" src="../assets/img/stock/6.jpg">
          <img class="thumbnail" src="../assets/img/stock/7.jpg">
          <img class="thumbnail" src="../assets/img/stock/8.jpg">
          <img class="thumbnail" src="../assets/img/stock/9.jpg">
        </div>
        <img id="slideRight" class="flecha" src="../assets/img/navegacion/flechaDer.png">
      </div>
    </div>
    <div class="column">
      <div class="descripcion-d">
        <h2>Monitor Samsung Ips De 24 Full Hd Freesync Hdmi Lf24t400fh</h2>
        <hr>
        <h3>$34.430.302</h3>
      </div>
      <!-- Nota: Número máximo de caracteres: 245 - palabras: 43 - líneas: 2 -->
      <p class="descripcion">
        <!-- Pensar qué colocar aquí porque la descripción está inmensa y queda mejor abajo-->
      </p>

      <div class="seccion-cta">
        <div class="cantidad">
          <p>Cantidad</p>
          <input type="number">
        </div>
        <div class="cantidad">
          <p>Existencia</p>
          <h3>23</h3>
        </div>
        <div class="cta">
          <a class="btn btn-accion" href="checkout.php">Comprar Ahora</a>
          <a class="btn btn-accion" href="#">Agregar al carrito</a>
        </div>

      </div>
    </div>

  </div>

  <!-- Sección "Descripción" Publicación-->

  <section class="descripcionPublicacion">
    <h1>Descripción de la publicación</h1>
    <p>GABINETE SUPERIOR DE COCINA MADERKIT 00067-SC-WB-R_»CARACTERÍSTICAS PRINCIPALES Color: BLANCO CON WENGUE Medidas:
      149,5 cm Ancho x 60,2 cm Alto x 31,5 cm Fondo Consta de: 4 compartimientos con puertas abatibles, Espacio para
      ubicar la campana extractora a la derecha o izquierda. Atributos: Permite armarse para ambos lados Derecho o
      Izquierdo Material: Fabricado en Madera Aglomerada (MDP) y Cubierta en Melamí­nico. Producto listo para armar
      (Requiere proceso de armado).Empaque: Empacado en 1 caja que contiene: piezas en aglomerado, kit de herrajes,
      manual y certificado de garantí­a. Observación: NO INCLUYE EXTRACTOR. Garantí­a: Nuestros muebles tienen garantí­a
      de 5 AÑOS sobre las piezas de aglomerado y 1 AÑO sobre los accesorios Entrega: Despachamos en máximo 3 dí­as
      hábiles después de concretada la compra y entregamos en el transcurso de los 8 dí­as. Costo de enví­o: Te
      invitamos a consultar la imagen con el listado de destinos a los cuales te obsequiamos el costo del enví­o. Si la
      ciudad de destino no se encuentra en el listado te invitamos a consultar el valor de enví­o antes de generar la
      compra. Datos para enví­o: Requerimos de los siguientes datos a fin de tramitar la facturación y el despacho:-
      Número de cédula para facturación.- Nombre completo- Número de teléfono fijo y/o celular- Correo electrónico-
      Dirección de enví­o (indicar barrio, apto, bloque, manzana, etc)- Ciudad (Consultar cobertura en la imagen con
      listado de destinos)- Nombre y número de celular de quien recibe</p>
  </section>

  <!-- Sección Datos Proveedor -->
  <section class="info-proveedor">
    <div class="descripcion-proveedor">
      <h2>Interoriente</h2>
      <p>Somos una empresa encargada en distribuir productos en todo en oriente antioqueño. Contactenos para tener el
        gusto de atenderte</p>
      <br>
      <a target="_blank"
        href="https://api.whatsapp.com/send?phone=57<?php echo $respPublicacion[0]['telefono']; ?>">
        <img class="whatsapp-icon"src="../assets/img/iconos/whatsapp.svg" alt="Contacto Whatsapp">
      </a>
    </div>
    <div class="informacion-complementaria">
      <p>lorem</p>
      <p>lorem</p>
      <p>lorem</p>
    </div>
    <div class="perfil-proveedor">
      <div class="tarjeta-perfil">
        <img src="../assets/img/stock/4.jpg" alt="Imagen de perfil del proveedor">
        <a href="">
          Interoriente
        </a>
      </div>

    </div>

  </section>

  <!-- Comentarios Publicación -->

  <!-- js -->
  <script src="../../Views/js/publicacion.js"></script>
  <!-- Footer -->
  <?php include "../includes/navInferior.php"; ?>