//NO ELIMINAR ESTA NI LAS OTRAS HOJAS DE ESTILOS CON EL MISMO NOMBRE HOJA DE ESTILOS

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$celular:480px;

body {
  background: #FEFDEB;
  margin: 0;
  font-family: "Poppins";
}

.bannerLogo{
    flex: auto;
    
    #banner {
        height: 260px;
        width: 100%;
        position: absolute;
        flex-wrap: wrap;
      }
      
      #logo {
        height: 300px;
        width: 300px;
        position: relative;
        z-index: 30%;
        margin: 160px;
        flex-wrap: wrap;
      }
    
}


.secMedia {
  display: flex;
  
  #carrusel{
    @media (max-width:$desktop) {
        height: 550px;
        width: 700px;
        margin-left: 2.5em;
        flex-wrap: wrap; 
    }
    @media (max-width:$laptop) {
        height: 500px;
        width: 650px;
        margin: 0 0 3em 3em;
        flex-wrap: wrap; 
    }
    @media (max-width:$tablet) {
        height: 450px;
        width: 600px;
        margin-left: 1em;
        flex-wrap: wrap; 
    }
    @media (max-width:$celular) {
      display: none;
    }
  }
}


.tituloBoton{
    flex: auto;
    
    #tituloIndex{
        margin: 0 4em;
        font-size: 25px;
        justify-self: auto;
        flex-direction: column;
        
      }

    #botonIndex{
        background-color:#FCE61E;
        text-decoration: none;//Gets rid of the underline
        color: black;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 2em;
        display: inline-table;
        margin: 4em 0 0 10em;
        
        
      }

}
