<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/carrito.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <title>Carrito</title>
</head>
<body>
    
    <div class="contenedor-principal">

        <div class="publicacion">
            <img src="../assets/img/stock/4.jpg" alt="imagen Publicacion">
            <div class="info-publicacion">
                <p class="titulo-publicacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolore ex placeat nobis dolor distinctio iste sint reiciendis impedit? Quam.</p>
                <div class="cantidad-publicacion">
                    <div class="cantidad">
                        <img id="restar" src="../assets/img/navegacion/-.png" alt="">
                        <input id="input" type="number" value="1" min="1">
                        <img id="sumar" src="../assets/img/navegacion/+.png" alt="">
                    </div>
                        <div class="valores">
                            
                            <p>Unidad: <span> $12.000.300</span></p>
                            <p>Total: <span>43.000.000</span> </p>
                        </div>
                </div>
            </div>
        </div>
    </div>

<script src="../js/carritoSecundario.js"></script>

</body>
</html>