*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .padre{
    display: flex;
    flex-flow: column nowrap;
  }
  .header{
    background-image: url(Bosque.jpg);
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 939px;
    align-items: center;
  }
  .menu1{
  background: var(--clr-primario-a);
  width: 420px;
  height: 570px;
  margin-top: 3%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  }
  .tit-menu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-neutro-a);
    margin: -20px 15% 0 15%;
    margin-top: 40px;
  }
  .caja-formulario{
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: -40px;
  }
  .etiqueta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--clr-neutro-a);
    margin-top: 20px;
  }
  .form-input{
    width: 315px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
  }

  .borecuperar{
    background: #FCE61E;
    border: 0;
    top: 0;
    margin-top: -100px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    }
  .boIniciaRecu{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: transparent;
    text-align: center;
  }
  button:hover{
    background: #FEFDEB;
  }
  a:hover{
    color: #FEFDEB;
  }
  .text-RecorCon{
    color: var(--clr-neutro-a);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 35px;
    font-size: 18px;
  }
  .conte-botonIniRe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .BotonRegresar{ 
    background: #FEFDEB;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
  }
  .contenedor-regresar {
    width: 50%;
    height: 150px;
    margin-top: 170%;
    padding: 40px;
    flex-flow: column nowrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin-left: -100%;
  }
  .nav{
    background: var(--clr-primario-a); 
    width: 100%;
    height: 80px;
    flex-flow: column nowrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
  }
  .tit-nav{
    color: var(--clr-neutro-a);
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tit-nav-caja{
    display: flex;
    flex-wrap: wrap;
  }