* {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    width: 80%;
    overflow:hidden;
    margin: auto;
  }
  header {
    background: #004E64;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  .contenido {
    padding-top: 80px;
  }

  h1 {
    color: #fff;  
    font-size: 30px;
    margin-top: 30px;
}
  
  h4 {
      text-align: center;
      font-size: 30px;
      font-family: Arial, sans-serif;
      color: white;
  }

  .textocon {
    text-align: center;
    margin-top: 200px;
    right: 48%;
  }
 
 
  .text1 {
    font-size: 28px;
    background-color: orange;
    width: 350px;
    height: 50px;
    left: 50%;
    margin-left: -21%;
    top: 38%;
    border-radius: 10px;
    position: absolute;
    border: 0;
    cursor: pointer;
  }
  .text2 {
    font-size: 28px;
    background-color: orange;
    width: 350px;
    height: 50px;
    left: 50%;
    margin-left: 2%;
    top: 38%;
    border-radius: 10px;
    position: absolute;
    border: 0;
        cursor: pointer;
}
.text3 {
    font-size: 28px;
    background-color: orange;
    width: 350px;
    height: 50px;
    left: 50%;
    margin-left: -21%;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    border: 0;
    cursor: pointer;
}
.text4 {
    font-size: 28px;
    background-color: orange;
    width: 350px;
    height: 50px;
    left: 50%;
    margin-left: 2%;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    border: 0;
    cursor: pointer;
}
.text5 {
    font-size: 28px;
    background-color: #FEFDEB;
    width: 200px;
    height: 50px;
    margin-left: 44.5%;
    border-radius: 10px;
    top: 70%;
    position: absolute;
    border: 0;
    cursor: pointer;

} 
 

 @media screen and (max-width: 1618px){
 
  .textocon {
    text-align: center;
    margin-top: 200px;
    right: 48%;
  }
 
    .text1 {
      font-size: 28px;
      background-color: orange;
      width: 350px;
      height: 50px;
      left: 50%;
      margin-left: -10%;
      top: 38%;
      border-radius: 10px;
      position: absolute;
      border: 0;
      cursor: pointer;
    }
    .text2 {
      font-size: 28px;
      background-color: orange;
      width: 350px;
      height: 50px;
      left: 50%;
      margin-left: -10%;
      top: 47%;
      border-radius: 10px;
      position: absolute;
      border: 0;
          cursor: pointer;
  }
  .text3 {
    font-size: 28px;
    background-color: orange;
    width: 350px;
    height: 50px;
    left: 50%;
    margin-left: -10%;
    border-radius: 10px;
    top: 57%;
    position: absolute;
    border: 0;
    cursor: pointer;
}
.text4 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -10%;
  border-radius: 10px;
  top: 67%;
  position: absolute;
  border: 0;
  cursor: pointer;
}
.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 44.5%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;

}
}

/*RESPONSIVE DEL TEXTO H4*/

@media screen and (max-width: 1697px) and (max-height: 817px){

  .textocon {
    margin-top: 200px;
    
  }
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 1.5%;
}

.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -10%;
  top: 42%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}
.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -10%;
  top: 52%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}
.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 62%;
position: absolute;
border: 0;
cursor: pointer;
}
.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 72%;
position: absolute;
border: 0;
cursor: pointer;
}
.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 44.5%;
border-radius: 10px;
top: 87%;
position: absolute;
border: 0;
cursor: pointer;

}
}
 
@media screen and (max-width: 1482px) and (max-height: 713px){
  .textocon {
    text-align: center;
    margin-top: 12.5%;
    right: 48%;
  }
  .h4 {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 0%;
    margin-left: 3.5%;
    
  }
.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -10%;
  top: 39.8%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}
.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -10%;
  top: 49.8%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}
.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 59.8%;
position: absolute;
border: 0;
cursor: pointer;
}
.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 69.8%;
position: absolute;
border: 0;
cursor: pointer;
}
.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 44.5%;
border-radius: 10px;
top: 85%;
position: absolute;
border: 0;
cursor: pointer;

}
}

@media screen and (max-width: 1390px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 5.5%;
}

.text1 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
top: 39.8%;
border-radius: 10px;
position: absolute;
border: 0;
cursor: pointer;
}
.text2 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
top: 49.8%;
border-radius: 10px;
position: absolute;
border: 0;
    cursor: pointer;
}
.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 59.8%;
position: absolute;
border: 0;
cursor: pointer;
}
.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -10%;
border-radius: 10px;
top: 69.8%;
position: absolute;
border: 0;
cursor: pointer;
}
.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 45.5%;
border-radius: 10px;
top: 85%;
position: absolute;
border: 0;
cursor: pointer;

}

}


@media screen and (max-width: 1280px) and (max-height: 1024px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 3%;
}

.textocon {
  text-align: center;
  margin-top: 16%;
  right: 48%;
}

.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -12%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -12%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -12%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -12%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 44%;
border-radius: 10px;
top: 87%;
position: absolute;
border: 0;
cursor: pointer;

}

}


@media screen and (max-width: 1280px) and (max-height: 800px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 6.5%;
}

.textocon {
  text-align: center;
  margin-top: 12.5%;
  right: 48%;
}

.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -11%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -11%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -11%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -11%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 45%;
border-radius: 10px;
top: 87%;
position: absolute;
border: 0;
cursor: pointer;

}

}

@media screen and (max-width: 1280px) and (max-height: 720px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 7.5%;
}

.textocon {
  text-align: center;
  margin-top: 12.5%;
  right: 48%;
}

.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -11%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -11%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -11%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -11%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 45%;
border-radius: 10px;
top: 87%;
position: absolute;
border: 0;
cursor: pointer;

}

}
@media screen and (max-width: 1213px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 9%;
}
}

@media screen and (max-width: 1128px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: -0%;
}

.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -15.5%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -15.5%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -15.5%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -15.5%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
font-size: 28px;
background-color: #ffeec0;
width: 200px;
height: 50px;
margin-left: 41.5%;
border-radius: 10px;
top: 87%;
position: absolute;
border: 0;
cursor: pointer;

}
}

@media screen and (max-width: 1024px) and (max-height: 768px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 4%;
}

.textocon {
  text-align: center;
  margin-top: 15%;
  right: 48%;
}
}
@media screen and (max-width: 1000px){
  .text5 {
    font-size: 28px;
    background-color: #ffeec0;
    width: 200px;
    height: 50px;
    margin-left: 42%;
    border-radius: 10px;
    top: 87%;
    position: absolute;
    border: 0;
    cursor: pointer;
    
    }
}
@media screen and (max-width: 987px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 4%;
}
}
@media screen and (max-width: 938px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 3.9%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -17%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -17%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -17%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -17%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 41%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }
}

@media screen and (max-width: 884px){

  h1 {
    color: #fff;  
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.wrapper {
  width: 30%;
  overflow:hidden;
  margin: auto;
}

  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 2%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -19%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -19%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -19%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -19%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 41.7%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }
}

@media screen and (max-width: 804px){

  h1 {
    color: #fff;  
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.wrapper {
  width:30%;
  overflow:hidden;
  margin-right: 33%;
}

  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 2%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -20.5%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -20.5%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -20.5%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -20.5%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 39%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }
}

@media screen and (max-width: 758px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 2.5%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -22%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -22%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -22%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -22%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 39.5%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }
}

@media screen and (max-width: 687px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 1%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -24%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -24%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -24%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -24%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 37%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }
}

@media screen and (max-width: 638px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 0%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -27%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -27%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -27%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -27%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 36%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }

  h1 {
    color: #fff;  
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.wrapper {
  width: 30%;
  overflow:hidden;
  margin: auto;
}
}

@media screen and (max-width: 567px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 1%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -30%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -30%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -30%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -30%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 33%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }

  h1 {
    color: #fff;  
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.wrapper {
  width: 30%;
  overflow:hidden;
  margin: auto;
}
}

@media screen and (max-width: 506px){
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
    left: 45%;
    margin-left: 0.5%;
}


.text1 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -34.5%;
  top: 38%;
  border-radius: 10px;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.text2 {
  font-size: 28px;
  background-color: orange;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -34.5%;
  top: 47%;
  border-radius: 10px;
  position: absolute;
  border: 0;
      cursor: pointer;
}

.text3 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -34.5%;
border-radius: 10px;
top: 57%;
position: absolute;
border: 0;
cursor: pointer;
}

.text4 {
font-size: 28px;
background-color: orange;
width: 350px;
height: 50px;
left: 50%;
margin-left: -34.5%;
border-radius: 10px;
top: 67%;
position: absolute;
border: 0;
cursor: pointer;
}

.text5 {
  font-size: 28px;
  background-color: #ffeec0;
  width: 200px;
  height: 50px;
  margin-left: 31%;
  border-radius: 10px;
  top: 87%;
  position: absolute;
  border: 0;
  cursor: pointer;
  
  }

  h1 {
    color: #fff;  
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.wrapper {
  width: 40%;
  overflow:hidden;
  margin: auto;
}
}

