*{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
body{
  font-family: 'poppins';
  color: #333;
  line-height: 1.6;
  background-color: #E5E5E5;
}
ul{
  list-style-type: none; 
}
a{
  text-decoration: none;
  color: #333;
}
h1,h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;

}
.tituloBoton{
  flex-direction: column;
  text-align: center;
 
}

.tituloBoton a:hover{
  color:white;
}
.tituloBoton a{
  
  
  padding: .5em 2em;
  font-size: 30px;
  text-decoration: none;
  background-color: #FCE61E;
  color:black;
  border-radius: 10px;
}

.titulo{
  margin: 10px 0;
  padding: 3em;
  font-weight: 600;
  text-align: justify;
}
#banner {
  height: 260px;
  width: 100%;
}
#logo {
  height: 300px;
  position: relative;
  transform: translateY(-33%);
  display: inline-block;
}

.carrusel{
  width: 130%;
  height: 100%;
  margin: 2em;
}

.centro .flex{
  flex-wrap: wrap;
  
}
.flex {
   display: flex;
   
}
.flex h1{
  justify-content:end;
}

@media (max-width: 700px) {
  .carrusel {
    display: none;
  }
}
