/* Propiedades Generales --> Paleta de Colores y fuentes*/
:root{
  --clr-primario-a: #004E64;
  --clr-primario-b: #5D9BAC;
  --clr-secundario: #408E8D;
  --clr-neutro-a: #FEFDEB;
  --clr-neutro-b: #001014;
  --clr-neutro-c: #E5E5E5;
  --clr-cta-a: #FFB930;
  --crl-cta-b: #FCE61E;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");
/* Estandares --> Estilos Generales */ 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contenedor-prin {
    padding: 50px;
    margin: 30px;
    background-color: #FCE61E;
}




.contenedor-principal{
    height: 300px;
    width: 100%;
    margin:50px;
    padding: 3px 6em 5px 6em;
    background-color: green;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.contenedor-principal a{
    border-radius: 10px;
    width: 100%;
    background-color: red;
    text-align: center;
    border: 50px;
}
