@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;600&display=swap");
:root {
  --clr-primario-a: #004e64;
  --clr-primario-b: #5d9bac;
  --clr-secundario: #408e8d;
  --clr-neutro-a: #fefdeb;
  --clr-neutro-b: #001014;
  --clr-neutro-c: #e5e5e5;
  --clr-cta-a: #ffb930;
  --crl-cta-b: #fce61e;
}

/*VERIFICACIÓN*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.padre{
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background-image: url(Calle.png);  
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 939px;
}
.menu {
  width: 34%;
  height: 350px;
  margin-top: 1%;
  margin-left: 33.5%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}
.tit-menu {
  color: var(--clr-neutro-a);
  text-align: center;
  font-size: 2em;
  font-family:Arial, Helvetica, sans-serif;
  align-self: center;
}
.caja-tit-menu{
  display: flex;
  flex-wrap: wrap;
}
.menu1 {
  width: 47%;
  height: 150px;
  margin-top: 1%;
  margin-left: 26%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.menu2 {
  width: 47%;
  height: 150px;
  margin-top: 1%;
  margin-left: 26%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.menu3 {
  width: 50%;
  height: 150px;
  margin-top: 10%;
  margin-left: 25.5%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.caja1{ 
  background: linear-gradient(to left ,#FFB930, #FCE61E);
  width: 350px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  border: 0;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.caja2{ 
  background: linear-gradient(to left ,#FFB930, #FCE61E);
  width: 350px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  border: 0;
  cursor: pointer;
}
.caja3{ 
  background: linear-gradient(to left ,#FFB930, #FCE61E);
  width: 350px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  border: 0;
  cursor: pointer;
}
.caja4{ 
  background: linear-gradient(to left ,#FFB930, #FCE61E);
  width: 350px;
  height: 50px;
  border-radius: 10px;
  font-size: 23px;
  border: 0;
  cursor: pointer;
}
.caja5{ 
  background: var(--clr-neutro-a);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border: 0;
  cursor: pointer;
}
.caja1:hover{
  background: #FEFDEB;
}
.caja2:hover{
  background: #FEFDEB;
}
.caja3:hover{
  background: #FEFDEB;
}
.caja4:hover{
  background: #FEFDEB;
}
.nav{
  background: var(--clr-primario-a); 
  width: 100%;
  height: 150px;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tit-nav{
  color: var(--clr-neutro-a);
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.tit-nav-caja{
  display: flex;
  flex-wrap: wrap;
}
/**/