/* Propiedades Generales --> Paleta de Colores y fuentes*/
:root{
  --clr-primario-a: #004E64;
  --clr-primario-b: #5D9BAC;
  --clr-secundario: #408E8D;
  --clr-neutro-a: #FEFDEB;
  --clr-neutro-b: #001014;
  --clr-neutro-c: #E5E5E5;
  --clr-cta-a: #FFB930;
  --crl-cta-b: #FCE61E;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");
/* Estandares --> Estilos Generales */ 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Imagen para version móvil */

.hero-principal{
    display: flex;
}
.img-hero{
    height: 20em;
    width: 20em;
    margin: auto;
}
@media (min-width: 720px) {
    .img-hero{
        display: none;
    }
}

/* Carrusel */
.carrusel-container{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    z-index: 1;
}
@media (max-width: 720px){
.carrusel-container{
 display: none;
}
}

/* Sección de filtrado */
.titulo-filtrado{
    text-align: center;
    margin-top: 3em;
}
.btns-filtrado{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    padding: 1em;
    margin-bottom: 2em;
}
/* Botón "Productos" */

.btn-productos{
    background-color:  var(--crl-cta-b);
    width: 10em;
    padding: .7em;
    border-radius: 1em;
    text-align: center; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

}
.btn-productos a{
 color: var(--clr-neutro-b);
}
.btn-productos a:hover{
 color: var(--clr-neutro-c);
 font-weight: bold;
}
.btn-productos:hover{
    background-color: var(--clr-cta-a);
}

/* Botón "Servicios" */
.btn-servicios{
    background-color:  var(--crl-cta-b);
    width: 10em;
    padding: .7em;
    border-radius: 1em;
    text-align: center; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

}
.btn-servicios a{
 color: var(--clr-neutro-b);
}
.btn-servicios a:hover{
 color: var(--clr-neutro-c);
 font-weight: bold;
}
.btn-servicios:hover{
    background-color: var(--clr-cta-a);
}




