/* Sección imágene(s) título, precio, cantidad, color y botones  "Comprar" y "Añadir al carrito" */
.column h2 {
  font-family: "Poppins", sans-serif;
}
#contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  width: 33rem;
  padding: 2rem;
}

#img-principal {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  cursor: pointer;
}
.descripcion {
  text-align: justify;
}

.seccion-cta {
  display: flex;
  flex-direction: column;
}
.cantidad {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.cta {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 0;
}
.btn-accion {
  background-color: var(--clr-cta-a);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
  margin: .5em .5em;
}
.btn-accion:hover {
  background-color: orangered;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid var(--clr-primario-a);
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
  background-color: var(--clr-cta-a);
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: var(--crl-cta-b);
}

.flecha {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.flecha:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}
.descripcion-m{
  display: none;
}
/* Sección descripción */

.descripcionPublicacion{
  padding: 1em 2em;
  
}

.descripcionPublicacion h1 {
  margin: 1em 0em;
  text-align: center;

}
.descripcionPublicacion p {
  text-align: justify;
  text-justify: inter-word;
}

/* Sección Datos Proveedor */
.info-proveedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #408e8d;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0 2em;
}

.descripcion-proveedor {
  padding: 2em;
  background-color: orangered;
  width: 40%;
  
}
.informacion-complementaria {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: yellow;
  width: 10%;
  margin-left: 2em;
}
.perfil-proveedor {
  /* background-color: magenta; */
  width: 30%;
  /* Alinear items al centro */
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarjeta-perfil {
  background-color: var(--clr-primario-b);
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em 1em 0 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}
.tarjeta-perfil img {
  width: 100%;
  height: 90%;
  border-radius: 1em 1em 0 0;
}

.cta-proveedor {
  width: 100%;
}
.tarjeta-perfil a {
  width: 100%;
  text-align: center;
  font-weight: bold;
  transition: .3s;
  
}
.tarjeta-perfil a:hover {
  color: var(--clr-neutro-a);
  background-color: orangered;
}

/* Media query carrusel */
@media (min-width: 320px) {
  .carrusel {
    width: 16rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 370px) {
  .carrusel {
    width: 17.5rem;
    padding: 1rem;
  }Eliminar

  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 400px) {
  .carrusel {
    width: 20rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 470px) {
  .carrusel {
    width: 23rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 510px) {
  .carrusel {
    width: 25rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 570px) {
  .carrusel {
    width: 29rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
@media (min-width: 510px) {
  .carrusel {
    width: 25rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
 
 @media (min-width: 625px) {
  .carrusel {
    width: 29rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: block;
    margin: 1em;
  }
  .descripcion-d{
    display: none;
  }
}
 @media (min-width: 700px) {
  .carrusel {
    width: 33rem;
    padding: 1rem;
  }
  .descripcion-m{
    text-align: center;
    display: none;
    margin: 1em;
  }
  .descripcion-d{
    display: block;
  }
}
 
 
/* Media query sección información proveedor */

@media only screen and (min-device-width: 420px) and (max-device-width: 1220px) {
  /* Contenedor General */
 .info-proveedor{
   height: 45rem;
 }
 /* Tarjeta */
 .perfil-proveedor {
   height: 50%;

}
 /* Naranja */
 .descripcion-proveedor {
  height: 40%;
}
}
/*Fin Media query sección información proveedor */

