/* Propiedades Generales --> Paleta de Colores y fuentes*/
:root {
  --clr-primario-a: #004e64;
  --clr-primario-b: #5d9bac;
  --clr-secundario: #408e8d;
  --clr-neutro-a: #fefdeb;
  --clr-neutro-b: #001014;
  --clr-neutro-c: #e5e5e5;
  --clr-cta-a: #ffb930;
  --crl-cta-b: #fce61e;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Estandares --> Estilos Generales */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: greenyellow;
}
.contenedorTarjeta {
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedorFormulario {
  display: flex;
  height: 35em;
  width: 25em;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  background-color: var(--clr-primario-a);
  border-radius: 0.5em;
  
  
}
.contenedorFormulario h1 {
  font-weight: 950;
  font-size: 20px;
  font-family: "Open+San";
  margin-top: -4em;
  padding-bottom: 3em;
  color: var(--clr-neutro-c);
  text-transform: uppercase;
  justify-content: center;
  text-align: center;

}
.contenedorFormulario a {
    text-decoration: none;
    color: var(--clr-neutro-b);
    background: var(--crl-cta-b);
    font-family: 'Poppins';
    border-radius: 2.5px;
    font-size: larger;
    padding: .3em;
    
  }
  .contenedorFormulario a:hover {
   color: white;
  }